/*CSS DE LA PRUEBA*/

/*INSERCIÓN DE LA FUENTE DEL EJERCICIO*/
@font-face {
    font-family: 'Street';
    src: url("font/street.otf");
}



/*FORMATO PARA ELEMENTOS DE INDEX*/

/*FORMATO DEL TITULO 1 - VA ENCIMA DE LA TABLA*/
h1 {
    font-family: "Street";
    color: crimson;
    font-size: 46px;
    text-align: center;
}


/*FORMATO DEL CUERPO DE LA TABLA*/
table {
    width: 600px;
    height: 800px;
    border: 10px outset rgb(237, 175, 5);
    border-radius: 10px;
    margin: auto;
    background-color: black;
}


/*IMAGEN DE CABECERA DE LA TABLA*/
#tabla-cabecera-img {
    background-image: url(img/fondocabecera.jpg);
    background-size: cover;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}


/*TEXTO DE LA CABECERA DE LA TABLA*/
td.tabla-cabecera-texto {
    font-size: 40px;
    color: whitesmoke;
    opacity: 0.5;
}

/*FORMATO DE TD Y TR*/
td {
    width: 40px;
    height: 45px;
    font-family: "Street";
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    font-style: bold;
    color: darkorange;
    text-align: center;
}

/*FORMATO DEL BODY*/
body {
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/*FORMATO DEL TITULO2*/
h2 {
    font-family: "Street";
    color: crimson;
    font-size: 28px;
    text-align: center;
}

/*formato del formulario*/
form {
    width: 600px;
    height: 1100px;
    border: 10px outset rgb(237, 175, 5);
    border-radius: 10px;
    color: white;
    background-color: black;
    margin: auto;
    font-size: 16px;
    font-family: Verdana;
}

/*FORMATO DE LOS LEGENDS DEL FORMULARIO*/
legend {
    font-family: "Street";
    font-size: 14px;
    color: rgb(237, 175, 5);
}

/*FORMATO DE TEXTAREA*/
textarea {
    width: 560px;
}

/*FORMATO DE */
input.botones-formulario {
    border: 1px solid crimson;
    background-color: crimson;
    font-family: "Street";
    font-size: 18px;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
}